*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --roxo: #3C2373;
}

body{
    font-family: sans-serif;
    height: 100vh;
    background-color: #3C2373;
}


header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 28px 30px;
    margin-bottom: 0;
}

header h1{
    color: white;
}

.main-section{
    width: 400px;
    height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    border-radius: 8px;
    padding: 10px;
    gap: 12px;
}

.button{
    padding: 1px;
    font-size: 14px;
}

.media{
    align-self: self-start;
    margin-left: 40px;
}

textarea{
    resize: none;
    overflow-y: auto;
}